<footer id="store-footer" class="footer">
  <div class="container">
    <div class="footer-service">
      <ul class="list-service clearfix">
        <li>
          <a rel="nofollow" href="#store-footer" target="_self">
            <i class="icon-footer icon-footer-gift"></i>
            <strong>免运费</strong>
            <span>全场满$800</span>
          </a>
        </li>

        <li>
          <a rel="nofollow" href="#store-footer" target="_self">
            <i class="icon-footer icon-footer-express"></i>
            <strong>顺丰快递</strong>
            <span>服务升级，限时送达</span>
          </a>
        </li>

        <li>
          <a rel="nofollow" href="#store-footer" target="_self">
            <i class="icon-footer icon-footer-fb"></i>
            <strong>Facebook</strong>
            <span>与我们互动，快乐无极限</span>
          </a>
        </li>

        <li>
          <a rel="nofollow" href="#store-footer" target="_self">
            <i class="icon-footer icon-footer-tg"></i>
            <strong>团购通道</strong>
            <span>团购通道</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-info clearfix">
    <p class="text-center">Copyright ©2017 JDstore
      <br>Design by wang wei
    </p>
  </div>
</footer>
